<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script defer src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <title>HMET</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid items-navbar">
          <img class="nav-logo mx-3" src="{% static 'img/logo.png' %}" width="220" height="58">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end ml-auto mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item item-navbar text-center">
                <a href="#aboutus" class="nav-link mx-3 active link " aria-current="page">About us</a>
              </li>
              <li class="nav-item item-navbar text-center">
                <a href="#capabilities" class="nav-link mx-3 active link">Capabilities</a>
              </li>
              <li class="nav-item item-navbar text-center">
                <a href="#services" class="nav-link mx-3 active link">Services</a>
              </li>
              <li class="nav-item item-navbar text-center">
                <a href="#products" class="nav-link mx-3 active link">Products</a>
              </li>
              <li class="nav-item item-navbar text-center">
                <a href="#contacts" class="nav-link mx-3 active link">Contacts</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="container-fluid paragraph-1">
        <div class="container">
            <div class="sss">
            <p class="text-white cols-1 ">Henan Mulijiqipu Electronic Technology</p>
            <p class="text-white cols-2">Design and manufacturing electronics products</p>
            </div>
            <a href="#aboutus" class="">
                <svg role="presentation" class="arrow" style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592">
                    <g>
                        <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path>
                    </g>
                </svg>
            </a>
            <br>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <a name="aboutus"></a>
                <p class="text-1">About us</p>
                <p> <span class="text-text">Henan Mulijiqipu Electronic Technology Co., Ltd</span> is dedicated to design and manufacture electronics products. We offer customized turnkey design and manufacturing solution services for customers who want their products to be quality and unique.</p>
                <p>We offer OEM contract manufacturing services, product assembly, PC board design, electronic components assembly, contract assembly services. We assembly your metal parts, aluminum parts, plastic parts, electronic components, PC board, battery component all in one service. If you are looking for OEM contract companies, contact us.</p>
                <p class="text-text">Our Mission</p>
                <p>Provide the most efficient and highest quality solutions to customers.</p>
                <p class="text-text">Our Vision</p>
                <p>Promote and improve quality of human life.</p>
            </div>
            <div class="col-md-6">
                <div class="img-1">

                </div>
            </div>
        </div>
    </div>

    <div class="container par">
        <a name="capabilities"></a>
        <p class="text-1">Capabilities</p>
        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Electronic and Mechanical Engineering</p>
            </div>
            <div class="col-md-6">
                <p class="text-2">3D printer for prototyping</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Programming</p>
                <ul class="mb-5">
                    <li><p>MCU firmware, XC8, XC16, XC32, C18, C30</p></li>
                    <li><p>Hi-Tech PICC-18, ICC AVR, Keli uVision</p></li>
                    <li><p>MPLAB IDE, MPLAB X, etc</p></li>
                    <li><p>Visual Studio, etc</p></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="text-2">Ultra precision machining</p>
                <ul class="mb-5">
                    <li><p>Wafer slicing</p></li>
                    <li><p>Grinding</p></li>
                    <li><p>Lapping</p></li>
                    <li><p>Polishing</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">PCB layout</p>
            </div>
            <div class="col-md-6">
                <p class="text-2">Precision assemblies</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Real time Web-based quality monitoring system</p>
            </div>
            <div class="col-md-6">
                <p class="text-2">ESD and corrosion controlled environment (clean room)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Mechanical Design & Modeling</p>
                <ul class="mb-5">
                    <li><p>Solidworks</p></li>
                    <li><p>ProE,</p></li>
                    <li><p>Zwcad, etc</p></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="text-2">Testing</p>
                <ul class="mb-5">
                    <li><p>In-house electrostatic discharge test</p></li>
                    <li><p>Assembly and testing for consumer products</p></li>
                    <li><p>Tester design and fabrication for consumer products</p></li>
                    <li><p>In-house Tester Development</p></li>
                    <li><p>Thermal and humidity cycling and reliability testing</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Chemical and applied science</p>
                <ul class="mb-5">
                    <li><p>Chemical and applied science engineering support</p></li>
                    <li><p>Vacuum deposition and sputtering techniques</p></li>
                    <li><p>Glass and epoxy bonding</p></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="text-2">Electronics Design</p>
                <ul class="mb-5">
                    <li><p>4/8/12/16/32 bit Micro Controller Unit</p></li>
                    <li><p>Analog Circuit, Digital Circuit, RF Circuit</p></li>
                    <li><p>Wi-Fi, ZigBee, Z-wave communicating</p></li>
                    <li><p>EAGLE, etc</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Head-Tape-Interfacing modeling: TapeLab</p>
            </div>
            <div class="col-md-6">
                <p class="text-2">In-house tool room</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-2">Machining, Processing, Assembling and Testing</p>
                <ul class="mb-5">
                    <li><p>Wafer Slicing Saw, MTI</p></li>
                    <li><p>Wafer Slicing Saw, Meyerburger</p></li>
                    <li><p>Wafer Scribing Saw, Disco</p></li>
                    <li><p>CNC Grinder, Chevalier Smart B818</p></li>
                    <li><p>Surface Grinder, Taft</p></li>
                    <li><p>Wire Bonding Machine, Westbond</p></li>
                    <li><p>Automatic Wire Bonder, Bonda, Palomar</p></li>
                    <li><p>High Speed Spin dryer</p></li>
                    <li><p>UV Belt Oven, Dymax</p></li>
                    <li><p>Plasma Etching Machine, TePla</p></li>
                    <li><p>Vacuum deposition and sputtering systems</p></li>
                    <li><p>Ultra-precision dual stage radial lapping system</p></li>
                    <li><p>Ultra-precision dual spindle flat lapping system</p></li>
                    <li><p>Ultra-precision dual stage rough lapping system</p></li>
                    <li><p>Tape-polishing machine</p></li>
                    <li><p>Inverse surface grinding machine</p></li>
                    <li><p>Programmable magnetizing machine</p></li>
                    <li><p>Automatic bonding pull force teste</p></li>
                    <li><p>Multi-stage high speed run-in machine</p></li>
                    <li><p>Automatic tape reel converter</p></li>
                    <li><p>Automatic radial surface rework station</p></li>
                    <li><p>Equipment status real-time monitoring and alarming system</p></li>
                    <li><p>Automatic flat surface rework station</p></li>
                    <li><p>Automatic chemical cleaning and spin drying system</p></li>
                    <li><p>Automatic multi-axis optical alignment systems</p></li>
                    <li><p>Automatic multi-pads resistance probing tester</p></li>
                    <li><p>Automatic multi-flex eeprom functional tester</p></li>
                    <li><p>Interposer card tester</p></li>
                    <li><p>Automatic head signal simulato</p></li>
                    <li><p>Automatic flex label and eeprom checker</p></li>
                    <li><p>Automatic flex resistance meter</p></li>
                    <li><p>Temperature-Humidity cycling chamber, Espec</p></li>
                    <li><p>Nitrogen filled curing oven</p></li>
                    <li><p>Clean bench</p></li>
                    <li><p>Corrosion control cleanroom</p></li>
                    <li><p>Temperature humidity control cleanroom</p></li>
                    <li><p>UPS for sensitive assembly and testing equipment</p></li>
                    <li><p>Power, current, air pressure, temperature and humidity real time monitoring</p></li>
                    <li><p>Real-time web-base quality data and statistical control system</p></li>
                    <li><p>Tool-maker microscopes, stereo microscopes, projectors</p></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p class="text-2">Sourcing with Engineering Support</p>

                <p>Components sourcing capabilities:</p>
                <ul class="mb-5">
                    <li><p>Metal in molding components</p></li>
                    <li><p>Die casting components</p></li>
                    <li><p>Plastic injection components</p></li>
                    <li><p>Metal stamping parts</p></li>
                    <li><p>CNC machining parts</p></li>
                    <li><p>Stepping motors</p></li>
                    <li><p>Helical gears and worm gears</p></li>
                    <li><p>Lead screws</p></li>
                    <li><p>Photo etching components</p></li>
                    <li><p>LCD modules</p></li>
                    <li><p>PCB assemblies</p></li>
                    <li><p>Electronic components</p></li>
                    <li><p>Wafer substrate material</p></li>
                </ul>
                <p class="mt-4">Engineering support for sourcing activities:</p>
                <ul class="mb-5">
                    <li><p>Specification and design for manufacturing review</p></li>
                    <li><p>Inspection method and tooling support</p></li>
                    <li><p>Surface treatment technical advice and inspection method</p></li>
                    <li><p>Reliability test and material analysis</p></li>
                    <li><p>Circuit design for electronic devices</p></li>
                    <li><p>Testing instruments development</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container par">
        <a name="services"></a>
        <p class="text-1">Services</p>
        <p class="text-5">Design and Development</p>

        <div class="row">
            <div class="col-md-6">
                <p class="text-3">Product Expertise</p>
            </div>
            <div class="col-md-6">
                <ul class="mb-5">
                    <li><p>Design for Test/Manufacturing/Assembly</p></li>
                    <li><p>In-house prototype builds</p></li>
                    <li><p>Performance and reliability testing</p></li>
                    <li><p>Regulatory certification</p></li>
                    <li><p>Technology selection and roadmaps</p></li>
                    <li><p>Cost/performance analysis</p></li>
                    <li><p>Test planning and procedure development</p></li>
                    <li><p>Failure analysis</p></li>
                    <li><p>Safety compliance</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-3">Embedded Systems</p>
            </div>
            <div class="col-md-6">
                <ul class="mb-5">
                    <li><p>Sensors, actuators and control systems</p></li>
                    <li><p>Low power devices</p></li>
                    <li><p>Digital, analog and mixed signal circuits</p></li>
                    <li><p>Microcontrollers</p></li>
                    <li><p>Displays and indicators</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-3">PCB Design</p>
            </div>
            <div class="col-md-6">
                <ul class="mb-5">
                    <li><p>PCB layout services</p></li>
                    <li><p>Digital and RF layout</p></li>
                    <li><p>DFM review and fabrication support</p></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-3">Mechanical Engineering</p>
            </div>
            <div class="col-md-6">
                <ul class="mb-5">
                    <li><p>Mechanical product architecture</p></li>
                    <li><p>Electronics packaging</p></li>
                    <li><p>Complex injection-molded part design</p></li>
                    <li><p>Design for manufacturing and assembly</p></li>
                    <li><p>Risk identification and mitigation planning</p></li>
                    <li><p>Automation and robotics mechanism design</p></li>
                </ul>
            </div>
        </div>

        <p class="text-1">Manufacturing</p>

        <div class="row">
            <div class="col-md-6">
                <p class="text-3">Integrated manufacturing</p>
            </div>
            <div class="col-md-6">
                <ul class="mb-5">
                    <li><p>Integrated with design, engineering, supply chain</p></li>
                    <li><p>Products that meet or exceed expectations</p></li>
                    <li><p>Early risk detection and mitigation</p></li>
                    <li><p>Access to designers and engineers</p></li>
                    <li><p>Real time monitoring</p></li>
                    <li><p>Innovation, continuous improvement</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container par">
        <a name="products"></a>
        <p class="text-1">Products</p>

        <div class="row">
            <div class="col">
                <img src="{% static 'img/21.png' %}" alt="" class="img">
                <p class="text-6 text-center">Communication Network</p>
            </div>
            <div class="col">
                <img src="{% static 'img/22.png' %}" alt="" class="img">
                <p class="text-6 text-center">Frequency Inverter</p>
            </div>
            <div class="col">
                <img src="{% static 'img/23.png' %}" alt="" class="img">
                <p class="text-6 text-center">Telecommunication</p>
            </div>
            <div class="col mt-auto">
                <img class="mb-4 img" src="{% static 'img/24.png' %}" alt="">
                <p class="text-6 text-center">Test equipment</p>
            </div>
        </div>
    </div>

    <div class="container par par-end">
        <div class="row">
            <div class="col-md-6">
                <a name="contacts"></a>
                <p class="text-1">Contacts</p>
            </div>
            <div class="col-md-6">
                <p class="text-contact">HARBIN BIMOTEK TECHNOLOGY CO. LTD Address: Special customs supervision zone，No.9, Huamao Avenue, Xiangfang District, Harbin City, Heilongjiang Province</p>
                <p class="text-contact">Tel: +8613214602611</p>
                <p class="text-contact">E-mail: b2b@harbinbimotek.com</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="">
        <p class="text-center small-text">© All Rights Reserved</p>

    </div>
</body>
</html>